
.type2VisTaxon {
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    fill: black;
}

.type2VisCharacter {
    font-family: Arial;
    font-size: 13px;
    fill: black;
    writing-mode: vertical-rl;
}

.type2VisIndtext {
    font-family: Arial;
    font-size: 11px;
    stroke-width: 0px;
    fill: black;
}

.type2VisOverallInd {
    rx: 3;
    ry: 3;
}

.type2VisOverallIndText {
    font-family: Arial;
    font-size: 11px;
    stroke-width: 0px;
    fill: black;
}

.type2VisOverallIndText {
    font-family: Arial;
    font-size: 11px;
    stroke-width: 0px;
    fill: black;
}