identikit/kb2/
identikit/other/
identikit/documentation/videos/
identikit/vis-*.html
identikit/vism-*.html
identikit/test-*
identikit/kb/*
!identikit/kb/biscuits
identikit/kb/biscuits/~*
test-*
.vs/*
node-modules
identikit/tombio/dependencies/electron-pdf-window/node_modules