#vis4TaxonHeader{
    background-color: rgb(100,100,100);
    color:white;
    font-size: x-large;
    font-style: italic;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.vis4Image {
    display: block;
    width: 100%;
    padding: 0 0 10px 0;
}

@media (min-width:601px) {
    .vis4Image{
        display: inline-block;
        width: 50%;
        float: right;
        padding: 0 0 10px 10px;
    }
}
