
#tombioKeyBasic .characterlabel {
    font-size: 12px;
    margin: 0.5em 0 0 0;
}

#tombioKeyBasic .characterGroup {
    font-size: 14px;
    margin: 1em 0 0 0;
    font-weight: bold;
}

#tombioKeyBasic .characterSelect {
    width: 200px;
}

#tombioKeyBasic .numberControl {
    width: 200px;
}

#tombioKeyBasic {
    padding: 5px;
}
