#vis3 #addTaxon {
    height: 27px;
}


.vis3removeIcon {
    float: right;
    width: 14px;
    height: 100%;
    cursor: pointer
}

#vis3 .pq-grid-row:hover {
    background: none;
    outline: thin dotted red;
}

#vis3 .pq-yellow {
    background-color: green;
}

#vis3 {
    margin: 5px;
}
