
.tombioKiOuiCharcterListItemText.deselected {
    font-weight: 100;
    color: rgb(120,120,120);
}

.tombioKiOuiCharcterListItemText.selected {
    font-weight: 400;
    color: #1e88e5;
}

.tombioOnsKiGroupSummaryValue {
    color: #1e88e5;
}

.tombioOnsKiShortHelp {
    opacity: .75;
    font-size: 14px;
}
